.home {
  font-family: "Noto Sans KR", sans-serif;
}
.header {
  height: 50px !important;
}
.body {
  min-height: calc(100vh - 158px) !important;
}
.footer {
  height: 100px !important;
  width: 100%;
}
