.postViewer > div > div {
  min-height: 600px;
  font-size: 16px !important;
}
.postEditor > div > div {
  min-height: 600px;
  font-size: 16px !important;
}
.postEditor > div > div > div > div > div > div > div > div {
  font-size: 16px !important;
}

.ProseMirror {
  font-size: 16px !important;
}
